#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(190, 190, 190);
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* contentEditable placeholder for block editor */
.block-text-editable:empty::before {
  content: attr(data-placeholder);
  color: #a8a29e;
  pointer-events: none;
}

.block-type-text-editor .ProseMirror {
  min-height: 7em;
  outline: none;
  font-size: 0.9rem;
  line-height: 1;
  white-space: pre-wrap;
  word-break: break-word;
  border-radius: 8px;
  padding: 5px 10px 0;
  border: 1px solid transparent;
}

.block-type-text-editor .ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  color: #adb5bd;
  pointer-events: none;
  float: left;
  height: 0;
}

.block-type-text-editor .ProseMirror:focus {
  outline: none;
  border: 1px solid #a8a29e;
}

.block-type-text-editor .ProseMirror :where(p) {
  margin: 0;
  padding: 0;
}

.Toastify__toast {
  text-align: left;
}